<div class="contenedor">
  <h1>SISTEMA DE GESTIÓN HOTELERA - ADMINISTRADOR</h1>

  <div class="summary-cards">
    <div class="card available">
      <div class="number">{{ disponiblesCount }}</div>
      <div>🟢 Habitaciones Disponibles</div>
    </div>
    <div class="card occupied">
      <div class="number">{{ ocupadasCount }}</div>
      <div>🔴 Habitaciones Ocupadas</div>
    </div>
    <div class="card maintenance">
      <div class="number">{{ mantenimientoCount }}</div>
      <div>🟡 En Mantenimiento</div>
    </div>
  </div>

  <table class="rooms-table">
    <thead>
      <tr>
        <th>N° Hab.</th>
        <th>Tipo</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (hab of habitacionesList(); track hab.id) {
        <tr>
          <td class="text-center fw-bold">{{ hab.numero }}</td>
          <td>{{ hab.tipo }}</td>

          <td>
            @if (hab.estado === 'Disponible') {
              <span class="status available-text">🟢 Disponible</span>
            } @else if (hab.estado === 'Ocupada') {
              <span class="status occupied-text">🔴 Ocupada</span>
            } @else {
              <span class="status maintenance-text">🟡 Mantenimiento</span>
            }
          </td>

          <td class="actions">
            <a [routerLink]="['/dashboard-admin/habitacion', hab.id]" class="btn btn-primary btn-sm"
              >Ver</a
            >

            <a
              [routerLink]="['/dashboard-admin/habitacion', hab.id, 'editar']"
              class="btn btn-warning btn-sm"
              >Editar</a
            >
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="4" class="text-center">Cargando Habitaciones ...</td>
        </tr>
      }
    </tbody>
  </table>
</div>