<div class="admin-layout">
    <aside class="sidebar">
        <h3>🏨 Hotel Admin</h3>
        <nav>
            <ul>
                <li>
                    <a routerLink="/dashboard-admin/inicio" routerLinkActive="active">
                        🛏️ Habitaciones
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard-admin/crear-habitacion" routerLinkActive="active">
                        ➕ Nueva habitación
                    </a>
                </li>
            </ul>
        </nav>
    </aside>

    <main class="admin-content">
        <router-outlet></router-outlet>
    </main>
</div>
