.dashboard-container {
    min-height: 100vh;
    background-color: var(--white-smoke);
    flex-direction: column;
    display: flex; 
}

.main-content {
    flex: 0;
    padding: 30px;
}

.section-title {
    margin-bottom: 20px;
}

.section-title h2 {
    font-size: 2rem;
}

.search-room {
    background-color: var(--white);
    padding: 30px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-soft);
    margin-bottom: 40px;
}

.search-form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group label {
    font-weight: 600;
}

.rooms-section {
    margin-bottom: 40px;
}

.room-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 2rem;
}

.btn-more-details {
    width: 16rem;
    padding: 12px;
    color: var(--white);
    border-radius: 8px;
    font-weight: 600;
    background-color: var(--midnight-blue);
}

.btn-search-room {
    width: 16rem;
    padding: 12px;
    color: var(--white-smoke);
    border-radius: 8px;
    font-weight: 600;
    background-color: var(--midnight-blue);
}

.btn-search-room:hover {
    background-color: var(--gold);
    color: var(--midnight-blue);
}

.btn-more-details:hover {
    background-color: var(--gold);
}

.img-card{
    height: 13.75rem;
}

.card-limite{
    height: 80px;
    overflow: hidden;
}

@media (max-width: 1200px) {

    .search-form {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 768px) {

    .dashboard-container {
        flex-direction: column;
    }

    .main-content {
        margin-left: 0;
    }
    
    .search-form {
        grid-template-columns: 1fr;
    }

}
