.dashboard-container {
    min-height: 100vh;
    background-color: var(--white-smoke);
    flex-direction: column;
    display: flex; 
}

.logo h2 {
    font-size: 2rem;
    color: var(--white);
    margin-bottom: 40px;
}

.main-content {
    flex: 0;
    padding: 30px;
}

.topbar {
    background-color: var(--white);
    padding: 20px 30px;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow-soft);
    margin-bottom: 30px;
}

.welcome-text h1 {
    font-size: 2rem;
    margin-bottom: 8px;
    color: var(--midnight-blue);
}

.welcome-text p {
    color: var(--charcoal-grey);
}

.topbar-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.notification-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--soft-gold);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.notification-btn:hover {
    background-color: var(--gold);
    color: var(--white);
}

.profile-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.section-title {
    margin-bottom: 20px;
}

.section-title h2 {
    font-size: 2rem;
}

.search-room {
    background-color: var(--white);
    padding: 30px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-soft);
    margin-bottom: 40px;
}

.search-form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-decision {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.form-group label {
    font-weight: 600;
}

.form-group-datos {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.rooms-section {
    margin-bottom: 40px;
}

.rooms-container {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.room-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 2rem;
}

.btn-mas-detalles {
    width: 16rem;
    padding: 12px;
    color: var(--white);
    border-radius: 8px;
    font-weight: 600;
    background-color: var(--midnight-blue);
}

.btn-search-habitacion {
    width: 16rem;
    padding: 12px;
    color: var(--white-smoke);
    border-radius: 8px;
    font-weight: 600;
    background-color: var(--midnight-blue);
}

.btn-search-habitacion:hover {
    background-color: var(--gold);
    color: var(--midnight-blue);
}

.btn-confirmar-reserva {
    width: 16rem;
    padding: 12px;
    color: var(--white-smoke);
    border-radius: 8px;
    font-weight: 600;
    background-color: var(--midnight-blue);
}
.btn-confirmar-reserva:hover {
    background-color: var(--gold);
    color: var(--midnight-blue);
}

.btn-cancelar-reserva {
    width: 16rem;
    padding: 12px;
    color: var(--white-smoke);
    border-radius:8px;
    font-weight: 600;
    background-color: var(--midnight-blue);
}
.btn-cancelar-reserva:hover {
    background-color: var(--gold);
    color: var(--midnight-blue);
}

.btn-mas-detalles:hover {
    background-color: var(--gold);
}

.img-card{
    height: 13.75rem;
}

.card-limite{
    height: 80px;
    overflow: hidden;
}

.reservations-section {
    background-color: var(--white);
    padding: 30px;
    border-radius: 8px;
    box-shadow: var(--shadow-soft);
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: var(--soft-gold);
}

th,
td {
    padding: 16px;
    text-align: left;
}

tbody tr {
    border-bottom: 1px solid var(--light-grey);
}

.status-confirmed {
    color: var(--success-green);
    font-weight: bold;
}

.status-pending {
    color: var(--gold);
    font-weight: bold;
}

li {
    list-style: none;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 1200px) {

    .summary-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .search-form {
        grid-template-columns: repeat(2, 1fr);
    }

    .rooms-container {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 768px) {

    .dashboard-container {
        flex-direction: column;
    }

    .main-content {
        margin-left: 0;
    }

    .topbar {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .summary-cards {
        grid-template-columns: 1fr;
    }

    .search-form {
        grid-template-columns: 1fr;
    }

}

.hero {
    background-image: linear-gradient(rgba(27, 38, 59, 0.7), rgba(27, 38, 59, 0.7)), 
                url(../../imagenes/suite.jpg);
}
 
.room-card-detail {
    background-color: var(--white);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-soft);
}

.room-card-detail h2 {
    color: var(--midnight-blue);
    margin-bottom: 1rem;
    border-bottom: 3px solid var(--gold-accent);
    padding-bottom: 0.5rem;
}

.room-card-detail p,
.room-card-detail li {
    line-height: 1.8;
    color: var(--charcoal-grey);
}